pyrofork
psutil
aiofiles
pillow
devgagantools
tgcrypto
pyromod
opencv-python-headless
requests
motor
pytz
flask
aiohttp
telethon
aiojobs
werkzeug==2.2.2
apscheduler
telethon-tgcrypto
mutagen
yt-dlp
speedtest-cli

# Add these for production deployment
gunicorn
uvicorn
